<mat-spinner style="margin:300px auto;" mode="indeterminate" *ngIf="loader"></mat-spinner>
<mat-card class="login-card" *ngIf="!loader">
  <div mat-card-avatar class="example-header-image"></div>
  <form class="example-form" [formGroup]="loginForm" (submit)="loginUser()">
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
        <mat-error>
          please provide a proper <strong>email</strong> address
        </mat-error>
      </mat-form-field> 
      <mat-form-field style="margin-bottom: 20px">
        <input matInput type="password" placeholder="Password" formControlName="password">
        <mat-error>
          password is <strong>required</strong>
        </mat-error>
      </mat-form-field> 
      <button mat-raised-button color="primary">SUBMIT</button>
      <span style="margin-top: -30px;font-size:14px">Not Registered?<a class="removeOut" style="color:#4e53e2;cursor: pointer;" routerLink="/signup"> Signup </a></span>
      <a class="removeOut" style="color: #4e53e2;cursor: pointer;margin-left: auto;margin-top: 25px;width: 32%;font-size:14px" routerLink="/forgot-password"> Forgot Password </a>
    </div>
  </form>
</mat-card>
