<mat-spinner style="margin:300px auto;" mode="indeterminate" *ngIf="loader"></mat-spinner>

<!-- User Signup -->
<mat-card class="signup-card" style="margin-bottom: 40px" *ngIf="!loader && !verifyScreen">
  <div mat-card-avatar class="example-header-image" (click)="fileInput.click()" [ngStyle]="getImageStyle()" style="margin-top:10px">
    <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">  
  </div>
  <form class="example-form" [formGroup]="signupForm" (submit)="registerUser()" enctype="multipart/form-data">
    <mat-error *ngIf="error">
      {{errorMsg}}
    </mat-error>
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username">
        <mat-error>
          username is <strong>required</strong>
        </mat-error>
      </mat-form-field> 
      <mat-form-field>
        <input matInput type="email" placeholder="Email" formControlName="email">
        <mat-error>
          please provide a proper <strong>email</strong> address
        </mat-error>
      </mat-form-field> 
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password">
        <mat-error>
          password is  <strong>required</strong> with min length <strong>6</strong>
        </mat-error>
      </mat-form-field> 
      <mat-form-field>
        <input matInput type="password" placeholder="Confirm Password" formControlName="cnfpassword">
      </mat-form-field> 
      <p *ngIf="pwdNotMatched" style="display: block;color: red; box-sizing: border-box;font-size: 13px;margin-top: -16px;">
        password  <strong>not matched</strong>
      </p>
      <mat-form-field>
        <input matInput type="number" placeholder="Phone Number" formControlName="phone">
        <mat-error>
          phone no is  <strong>required</strong> having 10 <strong>digits</strong>
        </mat-error>
      </mat-form-field> 
      <mat-form-field>
        <input matInput type="text" placeholder="Address" formControlName="address">
        <mat-error>
          Address is  <strong>required</strong>
        </mat-error>
      </mat-form-field> 
      <mat-form-field>
        <input matInput [matDatepicker]="dp3" placeholder="Date of Birth" disabled [max]="maxDate" formControlName="dob">
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false" (selectedChanged)="onDate($event)"></mat-datepicker>
        <mat-error>
          dob is  <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <re-captcha (resolved)="resolved($event)" siteKey="6LeEts0UAAAAALaig4OFPUZisQ2undCyx1Vc4N5_" style="margin-left: 30px;"></re-captcha>      
      <button mat-raised-button color="primary" [disabled]="disableSbt" [ngStyle]="disableSbt ? {'opacity' : '0.7'} : ''" style="max-width: 100px;margin-left : 255px;margin-top : 20px;">SUBMIT</button>
      <span style="margin-top: -25px;font-size:14px">Already Registered?<a class="removeOut" style="color:#4e53e2;cursor: pointer;" routerLink="/login"> Login Instead</a></span>
    </div>    
  </form>
</mat-card>


<mat-card class="signup-card" style="margin-bottom: 40px" *ngIf="!loader && verifyScreen">
  <div id="timer" style="color:red;float: right;margin-top: 20px;font-weight: 500;">60</div>
  <p style="text-align: center;margin-top: 20px;color: #3a772e;font-family: monospace;">Please Verify, It's You</p>
  <p style="text-align: center;padding: 15px;font-family: monospace;">A verification code has been sent to your phone number</p>
  <ng-otp-input  (onInputChange)="onOtpChange($event)" allowNumbersOnly="true" [config]="{length:4}" style="text-align: center;"></ng-otp-input>
  <mat-error *ngIf="error" style="text-align: center;margin-top: 10px;">
    {{errorMsg}}
  </mat-error>
  <br/>
  <span style="margin-left: 87px;">
    <button mat-raised-button color="success" style="background-color: #349234;color: white;" (click)="verifyOTP()" [disabled]="verifyBtnDisable" [ngStyle]="verifyBtnDisable ? {'opacity' : '0.4'} : ''">VERIFY</button>
  </span>
  <span style="margin-left: 26px;">
      <button mat-raised-button color="primary" (click)="resendOtp()" [disabled]="!verifyBtnDisable" [ngStyle]="!verifyBtnDisable ? {'opacity' : '0.4'} : ''">RESEND</button>
  </span>
</mat-card>




  